# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/
# Ignore logs
logs/
*.log

# Ignore environment files
.env
config/service_account.json


# data
bronze_inputs/*.csv
reports/*
logs/*
